.ipynb_checkpoints/
article_period_quality_scores.sample (1).tsv
article_period_quality_scores.sample (1).tsv.bz2
article_period_stats.sample.tsv
enwiki.observations.text_wp10.30k.tsv
wp10-scores-enwiki-20160820.tsv
