<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rho</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Wikipedia Knowledge Graph</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="wiki_header2.png" alt="wiki_header2">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h2>Contribute to the world's body of knowledge</h2>
          <p>Wikipedia Knowledge Graph leverages machine learning to determine which Wikipedia articles are most in need of editorial attention.</p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0" style="font-size:200%;">Wikipedia Category: Machine Learning</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Applied Machine Learning</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Artificial Intelligence Confrences</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Artificial Neural Networks</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Bayesian Networks</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Classification Algorithms</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Cluster Analysis</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Computational Learning Theory</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Data Mining and Machine Learning Software</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Datasets in Machine Learning	</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Dimension Reduction	</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Ensemble Learning</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Evolutionary Algorithms</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Genetic Programming</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Inductive Logic Programming</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Kernel Methods for Machine Learning</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Latent Variable Models</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Learning in Computer Vision</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Log-linear Models</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Loss Functions</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Machine Learning Algorithms</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Machine Learning Portal</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Machine Learning Researchers</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Machine Learning Task</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Markov Models</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Semisupervised Learning</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Signal Processing Conferences</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Statistical Natural Language Processing</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Structured Prediction</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Supervised Learning</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Support Vector Machines	</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Unsupervised Learning</h3>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">See Articles</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Austin Krauss 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
