<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rho</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/small-business.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand text-white" href="/">Wikipedia Knowledge Graph</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="/quality.png" alt="quality">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <h2>Contribute to the world's body of knowledge</h2>
          <p>Wikipedia Knowledge Graph leverages machine learning to determine which Wikipedia articles are most in need of editorial attention.</p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0" style="font-size:200%;">Wikipedia Category: Machine Learning</p>
        </div>
      </div>

      <!-- /.row -->

      <div class="row">
          {% block body %}
          {% for index, row in data.iterrows() %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">{{row['category']}}</h4>
              </div>
              <div class="card-footer">
                <a href="/sub_category/{{row['url_cat']}}" class="btn btn-primary">See Articles</a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endblock %}
        </div>
        <!-- /.row -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Austin Krauss 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
